main {
    grid-area: mainn;

    display: flex;
    flex-flow: column nowrap;

    .hero {
        flex: 1 1 100%;
        @include perfectCenter;
        flex-flow: column wrap;
        color: $secondaryColor ;
        max-height: 52%;
        background-image: url(./images/showcase.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 15vh 0vw;

        &__titleText {
            font-size: 3.5rem;
            font-weight: 600;
            margin: 0 5vw 5vh;     
        }

        &__paragraph {
            font-size: 1.2rem;
            margin: 2vh 5vw 0;
            line-height: 1.5rem;  
        }
    }

    .subscribe {
        flex: 1 1 100%;
        background-color: $backgroundColor;
        @include perfectCenter;
        flex-flow: row wrap;
        padding: 1rem 0;
        max-height: 8%;

        &__text {
            color: $secondaryColor;
            font-size: 1rem;
            font-weight: 600;
        }

        &__form {
            @include perfectCenter;
            flex-flow: row wrap;


            &__email {
                margin: 1vh 20vw;
                width: 15rem;
                height: 1.5rem;
            }
            &__button {
                margin: 1vh 0 2vh;
                background-color: $specialColor;
                color: $secondaryColor;
                padding: 0.5rem;
                text-align: center;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    .articles {
        flex: 1 1 100%;
        height: 35%;
        display: flex;
        flex-flow: row wrap;
        padding: 2vh 5vw;
        background-color: #F4F4F4;
        
        &__html {
            @include article;
        }
        &__css {
            @include article;
        }
        &__graphicD {
            @include article;
        }
    }
}